body {
    font-family: sans-serif;
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background-color: bisque;
}

.h1{
    color: rgb(125, 72, 7);
    text-align: center;
}

.p{
    color: rgba(126, 31, 66, 0.886);
}